<!DOCTYPE html>
<html>
<head>
    <!--inline[../../common/page/head.ejs]-->
    <title>关于我们</title>
    <link rel="stylesheet" type="text/css" href="../static/about.css?__inline">
</head>
<body>
    <header class="header">
        <div class="outborder outhover" id='onepage'><div class="padhover  padborder">关于椰子</div></div>
        <div class="outborder" id="twopage"><div class="padborder grayborder">椰子优势</div></div>
        <div class="outborder" id="threepage"><div class="padborder grayborder">合作伙伴</div></div>
    </header>
<!-- －－－－－－－－－第一页－－－－－－－－－－－－ -->
    <section class="page">
        <div class="imgblock">
            <div class="whiteblock">
                <img src="../static/image/logo.png?__inline" class="yealogo">
            </div>
        </div>
        <section id="page1sec1">
            <span class="stitle">公司简介</span>
            <p>椰子理财系深圳前海椰子金融信息服务有限公司旗下的核心产品。公司名称取意椰子，希望平台如同椰子壳一样（严格的风控与准入体系），唯有足够坚硬，才能为椰子提供保护，让椰子无惧外界干扰（投资达到最低风险）；平台如同椰子树叶一样，唯有宽大而结实的树叶（法律条款严谨而可靠），才能为椰子遮光挡雨（为资金和资产保驾护航），让椰子可以安全生长（资金可以安全增值）。椰子理财拥有专业的客服、技术、风控团队与法律顾问团，旨在打造一个为广大投资者提供更优质的服务、更流畅的体验、更安全的产品、更全面的保障的互联网金融平台。</p>
        </section>
        <section id="page1sec2">
            <span class="stitle">经营理念</span>
            <p>
                同时，椰子理财秉持着一个经营理念——让更多人“懂投资，会理财”。我们不仅打造平台，更希望能够与所有人分享科学的理财观。我们不只做平台，更希望能够让您成为一个聪明的投资者。
            </p>
        </section>
    </section>

<!-- －－－－－－－－－第二页－－－－－－－－－－－－ -->
    <section class="page">
        <div class="imgblock">
            <img src="" >
        </div>
        <section id="page2sec1">
            <span class="stitle">多保障</span></br>
            <span class="redfont">支付、加密、法律、托管四重保障</span>
            <p>椰子理财携手中国银联，直接使用银联支付系统，投资过程更安全！椰子理财采用HTTPS与MD5加密模式，保障您的个人信息不外漏！椰子理财携手盈科律师事务所，您所有注册、投资环节都有法律保障！椰子理财与____银行签订第三方托管协议，平台不经手您个人资</p>
        </section>
        <section id="page2sec2">
            <span class="stitle">低风险</span></br>
            <span class="redfont">央企国企项目、专业风控把握</span>
            <p>我们只与优质的企业合作。我们的投资标的主要来源于经过严格风控审核且拥有雄厚资金实力的上市央企或世界500强企业的相关应收账款或融资资产。我们会严格地进行风险把控，着力于确保所有的项目信息真实有效的同时降低投资者的投资风险。</p>
        </section>
        <section id="page2sec3">
            <span class="stitle">高收益</span></br>
            <span class="redfont">平台让利贴息、收益最高达12%</span>
            <p>椰子理财的活期产品最高年化年化收益率达12%！是余额宝3.5倍，银行活期利率35倍！椰子理财活期项目，每多投资一个月加息0.5%！
    平台贴息！您可以通过投资或参与活动获得理财金，每次投资时选择使用理财金，便可轻松获取额外收益。</p>
        </section>
        <section id="page2sec4">
            <span class="stitle">超便捷</span></br>
            <span class="redfont">操作简单、到账时间快、项目种类多</span>
            <p>只要20秒指尖操作，便能轻松完成投资！充值提现超快速。所有投资金额采用T+1模式。您的提现将在1个工作日内完成。项目随心投，定期活期随心选择。您可根据自身投资与资金流动需求进行选择。</p>
        </section>
        <section id="page2sec5">
            <span class="stitle">最贴心</span></br>
            <span class="redfont">信息透明、专业客服、知识分享</span>
            <p>信息全透明。您所希望了解的，所有投资相关资料都能清楚看到！专业客服服务。我们有专业的微信、电话、QQ客服团队，我们将竭尽所能帮您解答疑问！理财知识分享。我们将会在微信公众平台(无趣的椰子)定期发布最有趣最易懂的理财知识与生活玩乐文章！让您不仅懂投资，还会享受生活！</p>
        </section>
    </section>

<!-- －－－－－－－－－第三页－－－－－－－－－－－－ -->
    <section class="page">
        <section id="page3sec1">
            <div class="sectionimg">
                <img src="../static/image/unionpay.png?__inline" class="unionimg">
            </div>
            <p>椰子理财携手中国银联，使用银联支付渠道。旨在为您提供最安全的资金投资、提现与充值服务！</p>
        </section>
        <section id="page3sec2">
            <div><img src="" alt=""></div>
            <p>椰子理财携手___银行进行第三方托管。___银行有成熟的托管体系，您的投资安全透明！椰子理财在此保证，不直接经手您的资金。</p>
        </section>
        <section class="page3sec3">
            <div><img src="" alt=""></div>
            <p>椰子理财携手国内顶级保理公司——深圳市盛业商业保理有限公司，所有项目均来源于上市央企的保理项目。您的投资安全有保障！</p>
        </section>
        <section class="page3sec4">
            <div><img src="" alt=""></div>
            <p>椰子理财在___银行设立千万级风险准备金账户，为您投资提供“投资安全网”。</p>
        </section>
    </section>
    <!--inline[../../common/page/foot.ejs]-->
    <script src="../static/about.js?__inline"></script>
</body>
</html>