<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../common/page/head.ejs]-->
        <title>椰子理财零钱计划投资协议</title>
        <link rel="stylesheet" type="text/css" href="../static/agreement.css?__inline">
    </head>
    <body>
        <div>
            <section>
                <article class="blackfont"><b>尊敬的委托投资人：<br/>
                    <p class="indent">
                        为了维护您的自身权益、防范投资风险，请在投资前仔细阅读本协议各条款（尤其是风险提示）、以及与本产品相关的全部产品规则，特别是加粗字体条款，以充分知悉、了解椰子理财零钱计划的运作规则、投资范围以及协议双方的权利、义务和责任。一旦您在线点击相关同意协议及加入零钱计划的确认按钮即视为对本协议全部条款及相关业务规则已充分理解并完全接受。
                    </p>
                    </b>
                </article>
                <hr>
                <article>
                    <p><b>甲方</b>: 深圳前海椰子金融信息服务有限公司<br/>
                        <b>营业执照号</b>：914403003497822953
                    </p>
                    <p><b>乙方</b>: **********************<br/>
                        <b>身份证号码</b>：******************<br/>
                        <b>椰子理财注册用户名</b>：******
                    </p>
                </article>
                <article>
                    <p class="indent">鉴于甲方为椰子理财（www.yeamoney.cn）平台及椰子理财APP运营主体，乙方为椰子理财平台注册用户，系具有完全民事权利/行为能力的自然人，现甲方推出投资产品“零钱计划”，乙方在充分了解并清楚知晓该产品投资风险的前提下，就乙方投资零钱计划产品的相关事项，双方达成如下协议：</p>
                    <h3>一、释义</h3>
                    <p>以下词语在本协议中定义如下： </p>
                    <ol>
                        <li> 1.1 椰子理财：指由甲方运营和管理的椰子理财平台包括网站及APP，网站域名为：www.yeamoney.cn。</li>
                        <li>1.2. 零钱计划：是椰子理财推出的期限灵活型投资产品。</li>
                        <li>1.3. 出借人（乙方）：指通过甲方椰子理财网站或椰子理财APP注册成功的投资人，委托甲方在“零钱计划”产品项下提供一定金额的资金给融资人且出借人是具有完全民事权利/行为能力的自然人。</li>
                        <li>1.4. 合作方：指与甲方建立合作关系的机构。</li>
                        <li>1.5. 融资人：指有一定的资金需求，在甲方椰子理财网站或椰子理财APP注册账户并经过甲方合作机构的筛选推荐，由甲方推荐给乙方得到乙方投资资金，且为合法存续的企业法人或具有完全民事权利能力和行为能力的自然人。</li>
                        <li><b>1.6. 椰子理财账户：指出借人或借款人以自身名义在椰子理财网站或椰子理财APP注册后系统自动产生的虚拟账户，通过第三方支付机构及/或其他通道进行充值或提现。</b></li>
                        <li>1.7.交易结算资金管理账户：乙方在支付机构（银行或第三方支付机构）开设的与椰子理财账户相关联的支付账户，账户内资金归账户所有人所有。</li>
                        <li>1.8. 投资协议：指通过椰子理财平台完成撮合交易，交易各方签署的有关协议。</li>
                        <li><b>1.9. 加入资金：指投资人投资进入到“零钱计划”的资金。</b></li>
                        <li>1.10. 债权：指乙方将加入资金在“零钱计划”产品进行投资从而在相关协议项下享有的所有权利。</li>
                    </ol>
                    <h3>二、协议内容</h3>
                    <ol>
                        <li>2.1 零钱计划产品简介：零钱计划为由甲方在融资单位提供的保理等资产项目作为投资标的，在系统支持下依照分散投资标准进行自动投标，并在收到用户指令的情况下由系统自动发起债权转让，乙方通过出让已持有的债权以满足出借人资金流动性的需求，进而实现灵活投资并获取收益的目的。</li>
                        <li>2.2投资范围：零钱计划的投资范围包含甲方于融资单位提供的保理等资产项目以系统随机筛选的任意融资项目。</li>
                        <li>2.3 预期收益：乙方知悉、了解并同意，椰子理财宣传页面显示的与“零钱计划”产品项下相关的收益以椰子理财平台公布的信息及于具体交易文件内载明为准。</li>
                        <li>2.4 收益结算：本协议项下的加入资金按日结算收益，加入资金的本金部分在原融资项目终止后自动进行复投。每日的收益以实际结算为准。</li>
                        <li>2.5 加入资金来源保证：乙方保证其在本协议项下的加入资金来源合法，乙方是该加入资金的合法所有人。如果第三方对加入资金归属、合法性问题提出异议，由乙方自行解决，并承担因此给甲方及融资项目项下交易相对方造成的损失（如有）。</li>
                        <li>2.6 乙方在“零钱计划”产品项下加入资金总额、变动情况、收益等以乙方椰子理财账户记载为准。</li>
                    </ol>
                    <h3>三、本协议的成立及生效</h3>
                    <ol>
                        <li>3.1 本协议成立：乙方按照椰子理财的规则，通过在椰子理财上勾选“我同意《椰子理财零钱计划投资协议》”以及点击“立刻投资”按钮（具体以网站显示为准）确认后，即视为乙方与甲方已达成协议并同意接受本协议的全部约定以及椰子理财网站所包含的其他与零钱计划及本协议有关的各项规则的规定（包括相关的交易协议）。</li>
                        <li>3.2 加入资金冻结：乙方点击“立刻投资”按钮（具体以网站显示为准）确认后，即视为乙方已经向甲方发出不可撤销的授权指令，授权甲方委托相应的支付机构，在乙方的交易结算资金管理账户中，冻结金额等同于乙方当笔加入资金数额，上述冻结在甲方为乙方进行当笔加入资金的划转时解除；</li>
                        <li>3.3 加入资金划转：当笔加入资金全部冻结，且甲方系统完成当笔加入资金的借款项目投标后，根据所投特定项目的交易协议的相关约定，上述特定项目的融资人将根据双方另外之间的协议约定不可撤销地授权甲方委托相应支付机构，将当笔加入资金划转至融资人的交易结算资金管理账户。</li>
                        <li>3.4 本协议生效：本协议以APP点击的形式于甲方点击“立刻投资”按钮即时生效，本协议生效后对乙方后续操作（包括但不限于多次加入资金、提取收益、提取本金等）均具有约束力。</li>
                    </ol>
                    <h3>四、投资</h3>
                    <ol>
                        <li>4.1 乙方全权委托甲方按照本协议的约定对加入资金作为投资本金进行投资，包括但不限于出借资金或者受让债权，同时乙方授权甲方在完成上述投资行为后以乙方名义代为在线签署相应的出借或债权转让协议，乙方确认：甲方于零钱计划项下就乙方已投资资金的投资行为及签署的相关文件均由甲方承担全部义务并享有相应的合同权利。</li>
                        <li>4.2 乙方加入本“零钱计划”产品项下的资金按日计算收益，每日计算收益后收益部分不进行复投。</li>
                        <li>4.3 乙方加入零钱计划产品项目后，甲方将按照乙方加入零钱计划时间先后顺序，协助乙方将加入资金投资到具体的融资项目中去。</li>
                    </ol>
                    <h3>五、收益</h3>
                    <ol>
                        <li>5.1 收益标准：以甲方椰子理财平台展示及融资项目项下的文件载明为准。</li>
                        <li>5.2 收益起算、截止时间：当笔加入资金的收益于甲方完成当笔加入资金划转后次日开始计算直至乙方完成账户内全部本金提取的当日截止。</li>
                        <li>5.3 收益提取方式：每日结算；赎回成功后收益金额将会即时进入乙方的交易结算资金管理账户。</li>
                    </ol>
                    <h3>六、投资资金退出</h3>
                    <ol>
                        <li>6.1 退出方式：乙方可选择部分或全部提取其在零钱计划中的投资资金（以下统称为“提取”，但不包含已申请提取的资金）。如需退出，乙方需以点击页面“赎回”功能按钮的方式发出提取申请指令，并等待甲方确认乙方的提取申请。</li>
                        <li>6.2 上述提取指令一经发出即视为乙方不可撤销的授权甲方就提取金额代为发起债权出让，甲方将通过出让交易方式的协助乙方完成资金提取。此等授权的范围包括但不限于以等额定价为原则发起债权转让，代为以乙方名义与债权受让人签署相关交易协议（协议条款以椰子理财平台公布为准）等，乙方将就甲方于授权范围内完成的行为承担全部法律责任并享有相应合同权利。上述指令一经甲方确认即视为甲方接受委托。</li>
                        <li>6.3 甲方将根据平台历史交易数据确定乙方可提取资金金额的额度范围，若乙方在当日发出提取申请未经甲方确认或其他因素导致乙方的提取申请未被确认的，乙方可在次日再次发起本金提取，是否确认以及能否再次完成提取以甲方网站反馈信息为准。</li>
                        <li>6.4 提取结果:本金提取申请被确认的，相应资金会于交易当日进入乙方交易结算资金管理账户；本金提取申请未被确认的，相应资金将保留与原融资项目中继续计算收益。</li>
                        <li>6.5 资金到账时间：乙方的提取申请被确认后，一般在甲方确认后的第二天的一个工作日内完成提取，提取资金将进入乙方的交易结算资金管理账户。</li>
                    </ol>
                    <h3>七、本协议的修改及终止</h3>
                    <ol>
                        <li>7.1 双方均确认，本协议的签订、生效和履行以不违反法律为前提。如果本协议中的任何一条或多条被司法部门认定为违反所须适用的法律，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。</li>
                        <li>7.2 乙方同意甲方有权根据国家法律法规、监管政策、自律规定、市场变化等对本协议及与本协议相关的规则进行调整，必要时甲方有权终止乙方对 “零钱计划”投资，甲方并不就此承担违约责任。</li>
                        <li>7.3 调整或修改后的协议内容及相关业务规则将在椰子理财（包括但不限于官网公告、站内信、手机平台等方式）进行公布并立即生效，无需另行通知乙方。如果乙方不接受修改，可立即以提取零钱计划中全部加入资金的方式终止本服务，如乙方继续投资零钱计划的即被视为接受修改，并受修改后的协议及相关业务规则约束。</li>
                        <li>7.4 乙方同意，在甲方终止“零钱计划”产品项下的投资服务的提供时，乙方持有零钱计划项下的资金将以融资项目的形式显示在乙方椰子理财账户中，乙方将按该融资项目的还款方式及剩余还款期限相对应标准获得相应的收益作为回款，本金还款的将自动复投于其他非“零钱计划”产品的融资项目中。</li>
                        <li>7.5 本协议的任何修改、补充均须以椰子理财平台电子文本形式作出。</li>
                        <li>7.6 本协议作为乙方投资甲方“零钱计划”产品的约定，可适用于乙方在“零钱计划”项下的连续的或间断的多次投资行为，直至乙方不再投资该产品，本协议自动终止。</li>
                    </ol>
                    <h3>八、其他</h3>
                    <ol>
                        <li>8.1 本协议以电子文本形式生成。</li>
                        <li>8.2 如双方在本协议履行过程中发生任何争议，应友好协商解决；如协商不成，则须提交北京仲裁委员会，以仲裁方式解决争议，仲裁裁决具有终局性，对双方均有约束力。</li>
                        <li>8.3 与零钱计划相关的其他具体操作规则以椰子理财平台显示为准，并作为本协议的附件，如具体规则与本协议不一致的，以具体规则为准。</li>
                    </ol>
                </article>
            </section>
        </div>
    </body>
</html>