<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../common/page/head.ejs]-->
        <title>椰子理财国宝计划投资协议</title>
        <link rel="stylesheet" type="text/css" href="../static/agreement.css?__inline">
    </head>
    <body>
        <div>
            <section>
                <article>
                    <p>
                    在接受本协议之前，请仔细阅读本协议的全部内容。如果您不同意本协议的内容，或者无法准确理解该条款的含义，请不要进行后续操作：</p>
                    <b>本《椰子理财国宝计划投资协议》由以下三方于 201X-XX-XX签订：</b>
                    <p><b>甲方</b>（应收账款收益权转让方）：盛业商业保理有限公司 （以下简称甲方）</p>
                    <p><b>营业执照号</b>：120116400011669</p>
                    <p><b>乙方</b>（应收账款收益权受让人）：caroline  （以下简称乙方）</p>
                    <p><b>真实姓名</b>：许**</p>
                    <p><b>证件号码</b>：440********</p>
                    <p><b>丙方</b>（居间人）：深圳前海椰子金融信息服务有限公司（以下简称丙方）</p>
                    <p> <b>营业执照号</b>：914403003497822953</p>
                    <p>鉴于：</p>
                    <ol>
                        <li>1.原债权人与甲方签署《保理融资服务协议》，将应收账款转让给甲方，由甲方为原债权人提供国内保理服务。甲方有意将上述受让的应收账款的收益权再转让给乙方。</li>
                        <li>2. 甲方在丙方经营管理的网络平台“椰子理财”（官网www.yeamoney.cn，下称“椰子理财”）发布应收账款收益权转让的信息。</li>
                        <li>3. 乙方是符合中华人民共和国法律规定、具备完全民事行为能力且能够独立承担民事责任的自然人，并已依据丙方平台“椰子理财”的规则注册成为该平台用户；经过丙方提供中介信息与撮合，乙方有意受让甲方拟转让的应收账款收益权。</li>
                        </ol>
                        <p>
                        根据《中华人民共和国民法通则》、《中华人民共和国合同法》等相关法律法规之规定，为保证本应收账款收益权转让事宜的顺利进行，各方经协商一致达成合意如下，以兹共同遵守：</p>
                    <h3>第一条 定义</h3>
                    <article>
                        <p>在本协议中，除上下文另有解释，本文相关定义如下：</p>
                        <ol>
                            <li>1.1原债权人：基于基础交易而取得债权的独立法人。</li>
                            <li>1.2原债务人：基于接受基础交易中的服务或货物而应当支付对价的独立法人。</li>
                            <li>1.3保理方：在工商管理部门登记的，拥有商业保理资质的独立法人。</li>
                            <li>1.4标的应收账款：是指根据基础合同、保理合同以及甲方与原债权人之间《保理融资服务协议》的约定，甲方对债务人享有的、来源（产生或转化）于基础合同、保理合同及其他标的债权资料（定义见下文）的应收账款债权及其全部从权利。</li>
                            <li>1.5标的应收账款收益权:是指基于标的应收账款取得收益的权利。</li>
                            <li>1.6标的债权资料：是指与标的应收账款有关的全部合同、协议、文件、函件、单据、凭证及其他文书，包括但不限于基础合同、保理合同、发票、送货单据、提货单据、运输单据、银行付款凭证、对账确认单、应收账款确认文件、应收账款转让通知书等，以及对上述文件进行修改、修正和补充的有关文件。</li>
                            <li>1.7工作日：是指除中国的法定假日和公休日之外的任何一天。</li>
                            <li>1.8转让基准日：为本协议生效之日。</li>
                        </ol>
                    </article>

                    <div class="clear"></div>
                    <h3>第二条 甲方权利以及义务</h3>
                    <article>
                        <p>本协议项下应收账款管理及催收服务，是指在乙方受让标的应收账款收益权之日起至甲方回购标的应收账款收益权之日止，甲方为乙方提供标的应收账款的管理服务，包括但不限于：</p>
                        <ol>
                            <li>（1）保证标的应收账款的真实性；</li>
                            <li>（2）及时催收债务人履行付款义务。</li>
                            </ol>
                        <div class="clear"></div>
                        <h3>第三条 乙方权利以及义务</h3>
                            <ol>
                                <li>3.1乙方有利用丙方提供的平台自由选择资金出借或以其他方式提供融资的权利；</li>
                                <li>3.2乙方有权按照约定时间收取孳息和本金或其他资金收益；</li>
                                <li>3.3乙方有义务按照丙方要求向丙方提供真实的个人信息，因乙方提供虚假信息而造成的一切法律后果（包括但不限于民事赔偿，行政处罚等）均由乙方承担。</li>
                                <li>3.4乙方有义务按照丙方要求操作平台软件以及查收丙方发出的所有消息（包括但不限于电子邮件、手机短信等）。因乙方个人操作不当以及疏于查收信息造成的损失由乙方自行承担。</li>
                                <li>3.5为了便于统一地向本协议项下债务人主张权利，乙方授权丙方代其履行本协议项下的违约救济措施，丙方有权利（但无义务）为了乙方的利益根据本协议的约定，积极行使相关违约救济措施，但不对行使违约救济措施的最终结果向乙方承担责任。丙方为了乙方利益而行使违约救济措施过程中发生的合理成本、费用将先于乙方可获得的孳息和本金或其他资金收益而优先向丙方清偿。如乙方决定正式授权丙方，应签署必要的授权文书及法律文件。</li>
                            </ol>

                            <h3>第四条 丙方权利以及义务</h3>
                            <ol>
                                <li>4.1丙方应当按照本合同的规定，恪尽职守，以诚实、信用、谨慎、有效管理的原则为甲乙双方进行服务;</li>
                                <li>4.2丙方须对乙方个人信息，资产情况及其他服务相关事务的情况和资料依法保密；</li>
                                <li>4.3除非本合同或乙方与丙方签署的其他合同中另有明确约定，否则丙方不对乙方因在丙方平台上叙做的任何交易而发生的任何损失承担任何单独或连带的补偿或赔偿责任。</li>
                            </ol>
                            <h3>第五条 标的应收账款收益权</h3>
                            <p>截至转让基准日，甲方向乙方转让的标的应收账款收益权金额为人民币x000000.00元。</p>
                            <h3>第六条 标的应收账款收益权起始日和到期日</h3>
                            <p>就甲方向乙方转让的标的应收账款收益权，债务人履行付款义务的起始日期为转让基准日201X-0X-XX，到期日为201X-0X-XX。</p>
                            <h3>第七条 应收账款收益权转让金额</h3>
                            <ol>
                                <li>7.1甲方向乙方转让的应收账款收益权份额为100.0元整。</li>
                                <li>7.2就本协议项下的应收账款收益权转让项目，在乙方于椰子理财相关网页或APP上点击“立刻投资”之日（含当日）起至乙方享有标的应收账款相应份额收益权之日（含当日）止的期间内，乙方支付的应收账款收益权转让款所产生的收益，由甲方按照约定之收益率向乙方支付。</li>
                            </ol>
                            <h3>第八条应收账款收益权回购</h3>
                            <p>8.1 在应收账款收益权到期日或之前的任何日期，甲方向乙方回购乙方享有的标的应收账款收益权的相应份额。甲方完成应收账款收益权回购的同时乙方按照丙方平台（www.yeamoney.cn）规定的方式将对原债务人的应收账款收益权转回至甲方。</p>
                            <p>8.2乙方因甲方回购标的应收账款收益权份额而获得的回购总收益包括：</p>
                            <ol>
                                <li>
                                （1）与第5.1条约定的转让价款等额的回购款项人民币；</li>
                                <li>
                                （2）自乙方成为标的应收账款收益权债权人之日起至甲方回购之日止的收益款。收益款按收益率（年化9.00%）每月支付给乙方或在回购日一次性支付给乙方，具体以椰子理财官方网站公布为准。</li>
                            </ol>
                            <p> 8.3在回购日前三（3）日至五（5）日内，椰子理财平台（www.yeamoney.cn）将会向甲方发出付款通知，付款通知将列明甲方确定的回购日期、回购价款金额（含收益款明细）。</p>
                            <h3>第九条 支付转让价款</h3>
                            <p>乙方通过椰子理财平台（www.yeamoney.cn）规定的支付方式，一次性支付转让价款人民币100.0元整。
                            转让价款支付的前提条件为：甲方已签署《收益款回购承诺函》。</p>
                            <h3>第十条 转让生效及通知</h3>
                            <p>自甲方收到乙方标的应收账款收益权转让价款之时起，乙方享有标的应收账款相应份额收益权中与其支付的转让价款金额等额部分的债权，并承担相应部分标的应收账款收益权的风险。丙方将通过站内信及短信方式通知乙方转让生效。</p>
                            <h3>第十一条 逾期违约金</h3>
                            <p>11.1 在应收账款收益权到期日，甲方如无法足额向乙方按本协议约定回购标的应收账款收益权的，应当承担违约责任并向乙方支付逾期违约金，逾期违约金的计算方式如下：</p>
                                <p> 逾期违约金=未付回购价款金额×逾期天数×每日0.05%。
                                    未付回购价款金额是指截止应收账款收益权到期日，甲方根据本协议约定发出的付款通知中列明的应付但未付给乙方的回购价款金额。逾期天数是指从应收账款收益权到期日（不含当日）起至未付回购价款金额支付完毕之日止（含到账日）的自然日天数。
                                    11.2在逾期期间，甲方除支付逾期违约金外，还应当继续向乙方支付本协议约定的收益款。
                                    </p>
                                        <h3>第十二条 应收账款管理及催收服务</h3>
                                        <p>本协议项下应收账款管理及催收服务，是指在乙方受让标的应收账款收益权之日起至甲方回购标的应收账款收益权之日止，甲方为乙方提供标的应收账款的管理服务，包括但不限于：</p>
                                        <ol>
                                            <li>（1）保证标的应收账款的真实性；</li>
                                            <li>（2）及时催收债务人履行付款义务。</li>
                                        </ol>
                                        <div class="clear"></div>
                                        <h3>第十三条 应收账款瑕疵担保</h3>
                                        <p>甲方保证本协议项下全部标的应收账款均符合以下全部条件：</p>
                                        <ol>
                                            <li> 13.1 基础合同真实、合法且有效，没有禁止或限制该合同项下的应收账款转让，基础合同中不存在任何不利于乙方行使应收账款收益权的条款，原债权人已经适当的履行其在基础合同项下的义务；</li>
                                            <li> 13.2 保理合同真实、合法且有效，保理合同没有禁止或限制该合同项下应收账款的再次转让，保理合同中不存其他任何不利于乙方行使应收账款收益权的条款；</li>
                                            <li> 13.3 甲方已履行了保理合同项下的保理预付款支付义务和其他已到期的义务；</li>
                                        </ol>
                                        <h3>第十四条 应收账款收益权追偿</h3>
                                        <p>  14.1 如出现以下情形，乙方可委托丙方向原债权人及/或债务人进行追偿：</p>
                                        <ol>
                                            <li>（1） 本协议约定回购期到期后，甲方未能向乙方溢价回购应收账款收益权；</li>
                                            <li>（2） 甲方被人民法院宣布破产；</li>
                                            <li>（3） 债务人应付账款到期后，债务人逾期未清偿全部或部分应付账款。</li>
                                        </ol>
                                         <div class="clear"></div>
                                        <h3>第十五条 税务处理</h3>
                                        <p>三方根据法律规定各自承担因签署、履行本协议所产生的税费。</p>
                                        <h3>第十六条 保密条款</h3>
                                        <ol>
                                            <li>16.1基于本次交易所获得的包括本协议在内的任何文件资料、商业信息或任何一方的商业秘密，任何一方不得向本协议以外的其他方（椰子金融除外）透露，但是，根据法律法规及有关监管机构依法要求应当进行披露的除外。</li>
                                            <li> 16.2 任何一方违反保密义务，守约方有权要求违约方赔偿损失。</li>
                                            <li> 16.3 三方在本协议项下的保密义务在本协议履行完毕后仍持续有效。</li>
                                        </ol>
                                        <h3>第十七条 期日开始与届至</h3>
                                        <p> 17.1 本协议中所有涉及的发生日、到期日若恰为非银行营业日，则顺延至下一个最近的银行营业日；若该下一个最近的银行营业日恰为下一个月份的第一天，发生日、届满之日提前至上一个最近的银行营业日。</p>
                                        <h3>第十八条 适用法律、法规</h3>
                                        <ol>
                                            <li> 18.1与本协议相关的任何争议三方均可向丙方营业地深圳市福田区的有管辖权的人民法院提起诉讼。</li>
                                            <li> 18.2本合同适用的是中国的法律、法规和司法解释，以及服务区域的地方法规、地方规章，包括甲方所在地的人民法院对保理业务所做的指导意见、批复。上述法律、法规、文件没有规定的，适用行业惯例。</li>
                                        </ol>
                                        <h3>第十九条 合同的生效、终止和变更</h3>
                                        <ol>
                                            <li>19.1 三方在本协议项下的保密义务在本协议履行完毕后仍持续有效。</li>
                                            <li> 19.2本协议自各方分别通过网络页面点击确认或以其他方式选择接受本协议之时成立并生效；至本合同项下乙方受让的应收账款收益权、回购溢价费用、逾期利息等清偿完毕之日终止。</li>
                                            <li> 19.3除本协议另有规定外，任何一方未经另两方书面同意，无权单方面更改本协议的任何条款；一方要求对本协议条款进行任何修改，应书面通知另两方，在取得另两方的书面同意后方可进行。有关本协议的所有通知、变更等均应采取书面形式。</li>
                                            <li> 19.4本协议的任何修改、补充均须以丙方平台电子文本形式作出。</li>
                                            <li> 19.5如果本协议的任何条款因法律、法规、政策的变化而无效或不可执行时，则该等无效条款不影响本协议的其他有效条款的效力。</li>
                                        </ol>
                                        <h3>第二十条 风险提示</h3>
                                        <p> 20.1 政策风险：因国家宏观政策、财政政策、货币政策、行业政策、地区发展、法律法规等因素引起的政策风险。<br/>
                                            20.2 信用风险：如转让人发生资金状况或经营状况的风险，或者转让人的回购意愿发生消极的变化时，乙方可能无法按时获得应收账款收益权项下款项。需经过司法程序对甲方、原债权人及原债务人财产进行清偿后才能收回借款。如各方合法财产清偿完毕仍然不足以偿还乙方损失的，乙方可能无法获得应收账款收益权项下款项。<br/>
                                        20.3 不可抗力：由于战争、动乱、自然灾害等不可抗力因素的出现而可能导致乙方无法按时获得应收账</p>
                                        <h3>第二十一条  其他约定</h3>
                                        <p>
                                            21.1本协议采用电子文本形式制成，并保存在丙方为此设立的专用服务器上备查，各方均认可该形式的协议效力。甲方、乙方应当妥善保管其在丙方所留注册信息、密码等，若因非丙方原因导致上述信息泄露而造成甲方、乙方损失，则由甲方、乙方自行承担相应责任。<br/>
                                            21.2本合同适用的是中国的法律、法规和司法解释，以及服务区域的地方法规、地方规章，包括甲方所在地的人民法院对保理业务所做的指导意见、批复。上述法律、法规、文件没有规定的，适用行业惯例。
                                            <p>
                                            </section>
                                        </div>
                                        <!--inline[../../common/page/foot.ejs]-->
                                        <script src="../static/agreement-10.js?__inline"></script>
                                        <script>
                                            var 
                                        </script>
                                    </body>
                                </html>