<!DOCTYPE html>
<html>
    <head>
        <!--inline[../../common/page/head.ejs]-->
        <title>椰子理财用户服务协议</title>
        <link rel="stylesheet" type="text/css" href="../static/agreement.css?__inline">
    </head>
    <body>
        <div>
            <section>
                <h3>特别提示： </h3>
                <article>
                    <p>
                        本协议是深圳前海椰子金融信息服务有限公司（以下简称“本网站”）通过“椰子理财”互联网金融平台（以下简称“椰子理财”），包括网站及以APP形式提供的操作环境，为椰子理财注册用户(以下简称“用户”，即出借人)提供服务的依据。本协议亦详述用户使用椰子理财服务所须遵守的条款和条件。
                    </p>
                    <p>
                        在接受本协议之前，请用户仔细阅读本协议的全部内容。如果用户不同意本协议的任意内容，或者无法准确理解该条款的含义，请不要进行后续操作。如果用户最终选择不接受本协议之条款，椰子理财将无法为用户提供服务。
                    </p>
                    <p>
                        如果用户阅读本协议全部条款并已充分理解和完全接受，并通过网络页面点击确认并完成在“椰子理财”互联网金融的注册，即表示用户与“本网站”之间已签署本协议并同意接受：
                    </p>
                    <p>(1）本协议的全部约定内容；</p>
                    <p>(2）与本协议有关的各项规则；以及</p>
                    <p>(3）本网站所包含的现有或不时增补、修改的其他与本协议或本协议相关各项规则有关的规定。如因用户违反而产生任何法律后果，用户将以个人名义独立承担相应的法律责任。</p>
                </article>
                <article>
                    <h3>第一章 定义</h3>
                    <p>第1条  除非本协议另有释义，本协议下列词语的定义如下：</p>
                    <ol>
                        <li>1.1 椰子理财：即椰子理财互联网金融平台(网址www.yeamoney.cn)，由本网站信息技术有限公司开发并运营，为注册用户提供交易信息、信用咨询、评估、及交易管理等服务的金融信息中介服务。用户通过本公司居间服务与其他用户达成的所有交易项下资金的存放和划转均基于用户的合法授权，通过银行或拥有相关资质的第三方机构（以下合称“支付机构”）实现，本公司作为本网站运营商并不存放交易资金。本公司通过本网站提供的所有服务内容以最终线上呈现为准。</li>
                        <li>1.2 用户：是指具有中华人民共和国（以下简称“中国”）国籍、年龄在18周岁以上、符合中华人民共和国法律规定的具有完全民事权利能力和民事行为能力、以及能够独立承担民事责任的自然人。用户必须在椰子理财完成注册后方可使用本协议项下的服务。 </li>
                        <li>1.2.1.本网站只接受持有中华人民共和国有效身份证的18周岁以上的具有完全民事行为能力的自然人或者依据《中华人民共和国公司法》依法设立并存续的，在中国大陆地区合法开展经营活动或其他业务的法人或其他组织成为网站用户，如用户不符合资格，请勿继续操作注册。本网站保留因用户注册信息不实而随时中止或终止用户资格的权利，包括但不限于对用户账号进行封号等操作，由此所产生的损失由用户自行承担，本网站将不承担任何责任。</li>
                        <li>1.2.2.用户在注册使用本网站服务时应当根据本网站的要求提供自己的真实信息（包括但不限于真实姓名、联系电话、地址、电子邮箱等信息），并保证向本网站提供的各种信和资料是真实、准确、完整、有效和合法的，复印件与原件一致，不得盗用、冒用他人身份信息设立交易账户或发布信息。如用户向本网站提供的各项信息和资料发生变更，用户应当及时向本网站更新用户的信息和资料，如因用户未及时更新信息和资料导致本网站无法向用户提供服务或服务指向、服务内容发生错误，由此产生的法律责任和后果由用户自己承担。如使用他人信息和文件注册使用本网站服务或向本网站提供的信息和资料不符合上述规定，由此引起的一切责任和后果均由用户本人全部承担，本公司及本网站不因此承担任何法律责任，如因此而给本公司及本网站造成损失，用户应当承担赔偿本公司、本网站损失的责任。</li>
                        <li>1.2.3.成功注册为本网站用户后，用户应当妥善保管自己的用户名和密码，不得将用户名或账户转让、赠与或授权给第三方使用，因密码被遗忘、被第三方破解，使用的计算机被入侵等原因造成的交易风险均亦由用户自行承担。用户在此确认使用其用户的用户名和密码登录本网站及由用户在本网站的用户账户下发出的一切指令均视为用户本人的行为和真实意思表示，该等指令不可逆转，由此产生的一切责任和后果由用户本人承担，本公司、本网站不承担任何责任。 </li>
                        <li>1.2.4.用户不得利用本网站从事任何违法违规活动，用户在此承诺合法使用本网站提供的服务，遵守中国现行法律、法规、规章、规范性文件的规定。若用户违反上述规定，所产生的一切法律责任和后果与本公司、本网站无关，由用户自行承担，如因此给本公司、本网站造成损失的，由用户赔偿本公司、本网站的损失。本公司保留将用户违法违规行为及有关信息资料进行公示、计入用户信用档案、按照法律法规的规定提供给有关政府部门或按照有关协议约定提供给第三方的权利。 </li>
                        <li>1.2.5.如用户在本网站的某些行为或言论不合法、违反有关协议约定、侵犯本公司的利益等，本公司有权基于独立判断直接删除用户在本网站上作出的上述行为或言论，有权中止、终止、限制用户使用本网站服务，而无需通知用户，亦无需承担任何责任。如用户因此而给本公司及本网站造成损失的，应当赔偿本公司及本网站的损失。</li>
                        <li>1.2.6.为保护公民信息及交易安全，针对本公司有合理理由认为涉嫌存在使用限制情形的注册用户，本公司保留要求用户提交补充相应证明信息或者文件的权利，上述证明信息或者文件包括但不限于身份证明文件、本人影像资料等，对于无理由不予提供的注册用户本公司有权采取冻结账户等处理措施，涉嫌犯罪的，本公司保留将其移交司法机关处理的权利。</li>
                    </ol>
                </article>
                <h3>第二章 注册用户资格及条件 </h3>
                <article>
                    <ol>
                        <li> 第2条  具备资格<br/>
                        椰子理财用户必须符合本协议第1.2款约定的资格，若用户不具备上述资格，应立即终止注册及使用椰子理财服务。若用户违反前述资格在椰子理财注册并使用椰子理财服务，本网站保留终止用户资格、永久注销或冻结用户账户、追究用户或用户的监护人相关法律责任的权利。 </li>
                        <li>第3条  注册信息真实、有效 <br/>
                        3.1 用户在注册使用椰子理财服务时应当根据椰子理财的要求提供自己的真实信息（包括但不限于真实姓名、联系电话、收件地址、电子邮箱等信息），并保证向椰子理财提供的各种信息和资料是真实、准确、完整、有效和合法的，所提供的复印件与原件一致。</li>
                        <li>3.2 如用户向椰子理财提供的各项信息和资料发生变更，用户应当及时向椰子理财更新用户的信息和资料，如因用户未及时更新信息和资料导致椰子理财无法向用户提供服务或提供服务时发生错误，相应产生的法律责任和后果由用户自行承担。</li>
                        <li>3.3 如用户使用他人信息和文件注册并据此使用椰子理财服务，或者，如用户向椰子理财提供的信息和资料不符合第3.1款的约定，由此引起的一切责任和后果均由用户本人全部承担。本网站及椰子理财对用户的上述行为不承担任何法律责任，如因此给本网站及椰子理财造成损失，用户应当赔偿本网站及椰子理财的一切损失（包括但不仅限于律师费、差旅费等费用）。本网站并保留终止用户资格、永久注销或冻结用户账户、追究用户或用户的监护人相关法律责任的权利。</li>
                    </ol>
                </article>
                <h3>第三章 本网站服务内容 </h3>
                <article>
                    <ol>
                        <li>第4条  本网站服务内容主要包括：向用户提供投资交易信息、提供交易管理服务、提供客户服务等，具体详情以本网站当时提供的服务内容为准。未进行身份认证及/或银行卡认证的用户将无法获得服务。在用户有违法或违反本网站规定的行为情况下，本网站有权终止提供服务。</li>
                        <li>第5条 本网站将为用户提供以下交易管理服务：<br/>
                        5.1 用户在本网站进行注册时将生成用户账户，用户账户（唯一账户）将记载用户在本网站的活动。该账户将与指定第三方支付机构或银行的，以该支付机构或银行为名义开立的托管账户对应。</li>
                        <li>5.2 本网站作为发布交易信息的中介机构，向用户提供与交易信息相关的各种信息及资料作为参考，用户应依其独立判断做出决策。本网站提供的服务中不含有任何明示、暗示的，对任何用户、任何交易的真实性、准确性、可靠性、有效性、完整性等的任何保证和承诺。 用户因其选择使用椰子理财提供的服务，参与的交易等而产生的直接或间接损失均由用户自己承担。</li>
                        <li>5.3在交易过程中所遇到的非项目以外的客观操作问题，本网站将提供技术支持。</li>
                        <li>5. 4用户的账户信息、投资记录等相关信息，本网站将会详细记录并储存在服务器中。</li>
                        <li>5.5 如果本网站发现了因系统故障或其他任何原因导致的处理错误，无论有利于本网站还是有利于用户，本网站都有权纠正该错误。如果该错误导致用户实际收到的款项多于应获得的金额，则无论错误的性质和原因为何，本网站保留纠正不当执行的交易的权利，用户应根据本网站向用户发出的有关纠正错误的通知的具体要求返还多收的款项或进行其他操作。用户理解并同意，用户因前述处理错误而多付或少付的款项均不计利息，本网站不承担因前述处理错误而导致的任何损失或责任（包括用户可能因前述错误导致的利息、汇率等损失）。 </li>
                        <li>第6条 本网站将为用户提供以下客户服务：<br/>
                        6.1 银行卡认证：本网站或本网站委托的第三方机构为用户提供充值、取现、代扣等服务。用户应按照本网站规定的流程提交以用户本人名义登记的有效银行借记卡、身份证等信息，经由本网站审核通过后，本网站会将用户的账户与前述银行账户进行绑定。如用户未按照椰子理财规定提交相关信息，或者用户提交的信息错误、虚假、过时或不完整，或者本网站经审核认证发现用户提交的信息为错误、虚假、过时或不完整，本网站有权拒绝为用户提供银行卡认证服务，用户因此未能使用充值、取现、代扣等服务而产生的损失自行承担。 </li>
                        <li>6.2 充值：用户可以使用本网站指定的方式向用户账户充入资金，用于通过本网站进行交易。 </li>
                        <li>6.3 取现：用户可以通过本网站当时开放的取现功能向本网站发出指令将用户账户中的资金转入用户经过认证的银行卡账户中。本网站将于收到用户的前述指令后，尽快通过第三方机构将相应的款项汇入用户经过认证的银行卡账户（根据用户提供的银行不同，会产生汇入时间上的差异）。 </li>
                        <li>6.4 查询：本网站将对用户在本网站的所有操作进行记录，不论该操作之目的最终是否实现。用户可以通过注册账户实时查询用户账户名下的交易记录。用户理解并同意用户最终支付、收到款项的服务是由用户经过认证的银行卡对应的银行提供的，需向该银行请求查证。用户理解并同意通过本网站查询的任何信息仅作为参考，不作为相关操作或交易的证据或依据；如该等信息与本网站记录存在任何不一致，应以本网站提供的书面记录为准。 </li>
                        <li>6.5椰子理财在本网站的某些网页上使用诸如“Cookies”的资料收集装置。“Cookies”设置在用户硬盘上的小档案，以协助本网站为用户提供量身订造的服务。本网站亦提供某些只能通过使用“Cookies”才可得到的功能。本网站还利用“Cookies”使用户能够在某段期间内减少密码的次数。“Cookies”还可以协助本网站提供专门针对用户个人的兴趣而提供的资料。</li>
                        <li>6.6 用户了解，上述充值、取现服务涉及本网站与银行、担保公司、第三方支付机构等第三方的合作。用户同意：<br/>
                            (a) 受银行、担保公司、第三方支付机构等第三方仅在工作日进行资金代扣及划转的现状等各种原因所限，本网站不对前述服务的资金到账时间做任何承诺，也不承担与此相关的责任，包括但不限于由此产生的利息、货币贬值等损失；<br/>
                        (b) 一经用户使用前述服务，即表示用户不可撤销地授权本网站进行相关操作，且该等操作是不可逆转的，用户不能以任何理由拒绝付款或要求取消交易。就前述服务，本网站暂不会向用户收取费用，但用户应按照第三方的规定向第三方支付费用，具体请见第三方网站的相关信息。与第三方之间就费用支付事项产生的争议或纠纷，与本网站无关。 </li>
                        <li>6.7 用户每次使用本网站服务应直接登录本网站APP或使用本网站提供的链接登录本网站（网址：http://www.yeamoney.cn， 如本网站以公告等形式发布新的网址，请届时登录新的网址），而不要通过邮件或其他网站提供的链接登录。用户每次拨打本网站客户电话应拨打本网站官方网站提供的客服电话4000-876-678（如本网站以公告等形式发布新的客服电话，请届时拨打新的客服电话），而不要拨打其他任何电话。 </li>
                        <li>6.8 用户同意，本网站有权在提供本网站服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在本网站的任何页面上投放广告），并且，用户有权选择同意接受或者明确表示拒绝本网站通过电子邮件或其他方式向用户发送商品促销或其他相关商业信息。 </li>
                    </ol>
                    <p>第7条 本网站将为用户提供以下合同管理服务：</p>
                    <ol>
                        <li>
                        7.1 在本网站交易需订立的合同采用电子合同方式。用户使用注册账户登录本网站后，根据本网站的相关规则，以注册用户账号在本网站通过点击确认或类似方式签署的电子合同即视为用户本人真实意愿并以用户本人名义签署的合同，具有法律效力。用户应妥善保管自己的账户密码等账户信息，用户通过前述方式订立的电子合同对合同各方具有法律约束力，用户不得以其账户密码等账户信息被盗用或其他理由否认已订立的合同的效力或不按照该等合同履行相关义务。 </li>
                        <li>7.2 用户根据本协议以及本网站的相关规则签署电子合同后，本网站向用户注册时填写的电子邮箱发送电子合同文本或在注册用户登录后的平台页面提供相关电子合同链接。非经双方协商一致，用户不得单方修改该合同。本网站向用户提供电子合同的备案、查看、核对服务，如对电子合同真伪或电子合同的内容有任何疑问，用户可通过使用本网站的“查阅合同”功能进行核对。如对此有任何争议，应以本网站记录的合同为准。 </li>
                        <li>7.3 用户不得私自仿制、伪造在本网站上签订的电子合同或印章，不得用伪造的合同进行招摇撞骗或进行其他非法使用，否则由用户自行承担责任。 </li>
                    </article>
                    <h3>第四章 除外责任</h3>
                    <article>
                        <p>第8条  在任何情况下，对于用户使用本网站服务过程中涉及由第三方提供相关服务的责任由该第三方承担，本网站不承担该等责任。本网站不承担责任的情形包括但不限于： </p>
                        <ol>
                            <li>（1）因银行、第三方支付机构等第三方未按照用户和/或本网站指令进行操作引起的任何损失或责任；</li>
                            <li>（2）因银行、第三方支付机构等第三方原因导致资金未能及时到账或未能到账引起的任何损失或责任；</li>
                            <li>（3）因银行、第三方支付机构等第三方对交易限额或次数等方面的限制而引起的任何损失或责任； </li>
                            <li>（4）因其他第三方的行为或原因导致的任何损失或责任。 </li>
                        </ol>
                        <p>
                        第9条  因用户自身的原因导致的任何损失或责任，由用户自行负责，本网站不承担责任。本网站不承担责任的情形包括但不限于： </p>
                        <ol>
                            <li>（1）用户未按照本协议或本网站不时公布、提示的任何规则进行操作导致的任何损失或责任； </li>
                            <li>（2）因用户使用的银行卡的原因导致的损失或责任，包括用户使用未经认证的银行卡或使用非用户本人的银行卡或使用信用卡，用户的银行卡被冻结、挂失等导致的任何损失或责任； </li>
                            <li>（3）用户向本网站发送的指令信息不明确、或存在歧义、不完整等导致的任何损失或责任； </li>
                            <li>（4）用户账户内余额不足导致的任何损失或责任； </li>
                            <li> （5）因用户的个人过错导致的任何损失，该等过错包括但不限于：决策失误、操作不当、遗忘或泄露密码、密码被他人破解、用户使用的计算机系统被第三方侵入、用户委托他人代理交易时他人恶意或不当操作而造成的损失； </li>
                            <li>（6）其他因用户原因导致的任何损失或责任。 </li>
                        </ol>
                    </article>
                    <div class="clear"></div>  
                    <h3>第五章 风险提示 </h3>
                    <article>
                        <p>
                        第10条  基于互联网的特殊性，本网站无法保证本网站的服务不会中断，本网站因下列状况无法正常运作，使用户无法正常使用本网站服务时，本网站不承担损害赔偿责任，该等状况包括但不限于：</p>
                        <ol>
                            <li>（1）本网站公告的系统停机维护期间；</li>
                            <li>（2）本网站所依赖的电信设备出现故障不能进行数据传输的；</li>
                            <li>（3）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成本网站系统障碍不能执行业务的；</li>
                            <li>（4）由于黑客攻击、电信部门技术调整或故障、网站升级、其他第三方的问题等原因而造成的服务中断或者延迟。 </li>
                        </ol>
                        <p>第11条  用户通过本网站平台所从事的交易可能面临如下风险，该等风险由用户自行承担：</p>
                        <ol>
                            <li>（1）宏观经济风险：因宏观经济形势变化，可能引起价格等方面的异常波动，用户有可能遭受损失；</li>
                            <li>（2）监管风险：有关法律、法规及相关政策、规则发生变化，导致用户无法实现的投融资交易及因此遭受的损失；</li>
                            <li>（3）违约风险：因用户的交易对手无力或无意愿按时足额履约，用户由此可能遭受的损失；</li>
                            <li>（4）预期收益风险：用户所投资的交易因特定原因无法实现预期收益，用户由此无法获得更多收益。</li>
                        </ol>
                        </article>
                        <h3>第六章 用户保证及承诺</h3>
                        <article>
                        <p>第12条  用户保证及承诺<p/>
                        <p>
                        12.1 用户承诺绝不为任何非法目的或以任何非法形式使用本网站服务，并承诺遵守中国相关法律、法规、规章、规范性文件的规定以及一切使用互联网之国际惯例，遵守所有与本网站服务有关的网络协议、规则和程序。若有违反者应负法律责任。上述行为包括但不限于：</p>
                        <ol>
                            <li>（1）违反宪法所确定的基本原则，危害国家安全、泄露国家机密等行为。</li>
                            <li>（2）侵害他人合法权利及权益</li>
                            <li>（3）使用虚假信息注册平台账户</li>
                            <li>（4）涉嫌洗钱、套现</li>
                            <li>（5）从事任何可能含有电脑病毒或是可能侵害本网站服务系统、资料等行为</li>
                            <li>（6）侵犯本网站的商业利益，包括但不限于发布非本网站许可的商业广告</li>
                            <li>（7）利用本网站服务上传、展示或传播虚假的、骚扰性的、攻击性的、庸俗淫秽的或其他任何非法的言论及行为</li>
                            <li>（8）其他本网站有正当理由认为不适当之行为</li>
                        </ol>

                        <p>
                            12.2若用户违反上述规定，所产生的一切法律责任和后果与本公司、本网站无关，由用户自行承担，如因此给本公司、本网站造成损失的，由用户赔偿本公司、本网站的损失。本公司保留将用户违法行为及有关信息资料进行公示等权利，并按照法律的规定将有关信息资料提交给相关部门。</p>
                        12.3用户在本网站的行为与言论合法，若出现用户在本网站的某些行为或言论不合法、违反有关协议约定、侵犯本公司的利益等，本公司有权基于独立判断直接删除用户在本网站上做出的上述行为或言论，有权中止、终止用户使用本网站服务，而无需通知用户，亦无需承担任何责任。</p>
                        </p>
                        <h3>第七章 用户信息管理</h3>
                        <p>
                            第13条  用户信息的审核：
                        为避免用户通过本网站从事非法或其他刑事犯罪活动以及本网站及其正常用户合法权益，用户授权本网站可通过人工或自动程序对用户的个人资料进行评价和衡量，对于用户身份信息及相关资料的真实性和合法性进行调查与资料收集。本网站有权调查多个用户以识别问题或解决争议，并有权根据本协议约定在发出不通知的情况下中止、终止、限制用户使用本网站或冻结可疑用户的账户。</p>
                        <p> 第14条 用户信息收集及使用：</p>
                        <ol>
                            <li> （1）通过在本网站的某些网页上使用诸如“COOKIES”的设置收集；</li>
                            <li> （2）向行政机关、司法机关查询、打印、留存用户的信息；</li>
                            <li>  （3）向合法留存用户信息的自然人、法人以及其他组织收集用户信息；</li>
                        </ol>
                        <p>
                        第15条 用户同意并授权本网站收集用户的信息包括但不限于：</p>
                        <p>
                        15.1对于投资用户而言，</p>
                        <ol>
                            <li>（1）用户的身份信息，包括但不限于姓名/名称、证件号码、证件类型、电话号码、账户认证信息及其他身份信息；</li>
                            <li>（2）用户在申请、使用本网站服务时所提供以及形成的任何数据和信息；</li>
                        </ol>
                        <p>
                            项目发起者在上述基础上：
                        </p>
                        <ol>
                            <li>（1）用户的信用信息，包括但不限于用户的征信记录和信用报告</li>
                            <li>（2）用户的财产信息，包括但不限于用户的店铺/企业经营状况、财税信息、房产信息、车辆信息、基金等系列投资理财信息和负债信息等；</li>
                            <li>（3）用户在行政机关、司法机关留存的任何信息，包括但不限于户籍信息/工商信息、诉讼信息、执行信息和违法犯罪信息等； </li>
                            <li>（4）与用户申请或使用的本网站服务相关的、用户留存的其他自然人、法人和组织的其他相关信息。</li>
                        </ol>
                        <p>
                            15.2用户在此同意，对于用户提供的和为本网站平台服务所需的自行收集的用户个人信息和资料，深圳前海本网站信息服务有限公司有权按照本协议的约定进行使用，同时可以用于改进本网站的运营以及平台发展工作，包含但不限于网站分析、数据统计、投资记录统计以及产品完善要求。
                        </p>
                        <p>
                        第16条 用户信息的披露</p>
                        <p>
                            16.1 用户（包括不限于本网站注册的融资人及投资人）在此同意，在注册之后进行任何违法、违规及违反本网站管理规定的行为，本网站均有权在本网站或委托第三方机构进行发布和披露，本网站对发布与披露的方式、内容均不承担任何责任<br/>
                            16.2 经国家生效法律文书或行政处罚确定用户存在违法行为，本网站有义务根据有关法律、法规、规章及其他政府规范性文件的要求向具有合法调阅信息权并通过合法途径调阅信息的司法机关和政府部门提供用户的个人资料及交易信息。
                            用户明确确认知悉上述情况的披露、记录、共享造成的负面评价和后果，一切损失及责任均由用户自行承担，本公司不承担任何相关的法律责任。提醒注意：上述公布可能会公开您的部分个人信息，如姓名，部分位身份证号码。用户签署本协议即视为理解并接受上述措施，永久性不可撤销的授权本网站公开以及提供相关个人信息。
                        </p>
                        <h3>第八章 账户安全及管理</h3>
                        <p>
                        第17条  用户了解并同意，确保注册账户及密码的机密安全是用户的责任。用户将对利用该注册账户及密码所进行的一切行动及言论，负完全的责任，并同意以下事项：</p>
                        <ol>
                            <li>（1）用户不对其他任何人泄露账户或密码，亦不可使用其他任何人的账户或密码。因黑客、病毒或用户的保管疏忽等非椰子理财原因导致用户的注册账户遭他人非法使用的，椰子理财不承担任何责任。</li>
                            <li>（2）椰子理财通过用户的注册账户及密码来识别用户的指令，用户确认，使用用户账户和密码登录后在椰子理财发出的一切指令均视为会员本人的行为和意思表示，该等指令不可逆转。注册账户操作所产生的电子信息记录均为用户行为的有效凭据，并由用户本人承担由此产生的全部责任。</li>
                            <li>（3）冒用他人账户及密码的，椰子理财及其合法授权主体保留追究实际使用人连带责任的权利。</li>
                            <li>（4）用户应根据椰子理财的相关规则以及椰子理财平台的相关提示创建一个安全密码，应避免选择过于明显的单词或日期，比如用户的姓名、昵称或者生日等。</li>
                            <li>（5）与本网站用户资金相关的服务均由支付机构提供，用户应依照支付机构规则进行相关账户的开设和使用，用户有义务妥善保管账户及密码并采取合理的措施保护资产安全，本网站无法保证提供资金相关服务的支付机构的服务内容和质量，如因用户未能尽到谨慎保管义务或支付机构原因造成交易不能实现甚至资产损失，本网站不承担任何责任，由相关责任方承认。</li>
                        </ol>
                        <p>
                            第18条  用户如发现有第三人冒用或盗用用户账户及密码，或其他任何未经合法授权的情形，应立即以有效方式通知椰子理财，要求椰子理财暂停相关服务，否则由此产生的一切责任由用户本人承担。同时，用户理解椰子理财对用户的请求采取行动需要合理期限，在此之前，椰子理财对第三人使用该服务所导致的损失不承担任何责任。
                        </p>
                        <p>
                            第19条  用户决定不再使用注册账户时，应首先清偿所有应付款项（包括但不限于借款本金、利息、罚息、违约金、服务费、管理费等），再将注册账户中的可用款项（如有）全部取现或者向椰子理财发出其它合法的支付指令，并向椰子理财申请注销该注册账户，经椰子理财审核同意后可正式注销注册账户。
                        </p>
                        <p>
                            第20条 会员死亡或被宣告死亡的，其在本协议项下的各项权利义务由其继承人承担。若会员丧失全部或部分民事权利能力或民事行为能力，椰子理财或其授权的主体有权根据有效法律文书（包括但不限于生效的法院判决等）或其法定监护人的指示处置与注册账户相关的款项。</p>
                            <p>
                            第21条  椰子理财有权基于单方独立判断，在其认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向用户提供本协议项下的全部或部分服务（包括收费服务），并将注册资料移除或删除，且无需对用户或任何第三方承担任何责任。前述情形包括但不限于：
                        </p>
                        <ol>
                            <li>（1）椰子理财认为用户提供的个人资料不具有真实性、有效性或完整性；</li>
                            <li>（2）椰子理财发现异常交易或有疑义或有违法之虞时；</li>
                            <li>（3）椰子理财认为用户账户涉嫌洗钱、套现、传销、被冒用或其他椰子理财认为有风险之情形；</li>
                            <li>（4）椰子理财认为用户已经违反本协议中规定的各类规则及精神；</li>
                            <li>（5）用户在使用椰子理财收费服务时未按规定向椰子理财支付相应的服务费用；</li>
                            <li>（6）用户账户已连续三年内未实际使用且账户中余额为零；</li>
                            <li>（7）椰子理财基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向用户提供本协议项下的全部或部分会员服务（包括收费服务），并将注册资料移除或删除的其他情形。</li>
                        </ol>
     
                        <p>第22条  用户同意在必要时，椰子理财无需进行事先通知即有权终止提供账户服务，并可能立即暂停、关闭或删除用户账户及该注册账户中所有相关资料及档案。</p>
                        <p>第23条  用户同意，注册账户的暂停、中断或终止不代表用户责任的终止，用户仍应对使用椰子理财服务期间的行为承担可能的违约或损害赔偿责任，同时椰子理财仍可保有用户的相关信息。</p>
                        <p>第24条  若使用第三方网站账号注册椰子理财账户，则用户应对注册账户所对应的第三方网站账号拥有合法的使用权，如用户因故对该第三方网站账号丧失使用权的，则椰子理财可停止为注册账户提供服务。但如该注册账户尚存有余额的，椰子理财将会为用户妥善保管。此时，如用户欲取回其原有余额，椰子理财将提供更换椰子理财账户的服务，如因故无法自助完成更换账户，用户可以向椰子理财提出以银行账户接受原有资金的请求，经核验属实后，椰子理财可配合用户将原有资金转移到以用户真实姓名登记的银行账户下。
                        </p>
                        <h3>第九章 知识产权保护条款</h3>
                        <p>第25条  椰子理财中的所有内容均属于本网站所有，包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片、音频、视频及其他全部信息。椰子理财内容受中国知识产权法律法规及各国际版权公约的保护。</p>
                        <p>第26条  未经本网站事先书面同意，用户承诺不以任何形式使用、修改、复制、模仿、公开传播、改变、出版、公布与展示、发行或公开发表椰子理财内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。用户承认椰子理财内容是属于本网站的财产。</p>
                        <p>第27条  未经本网站书面同意，用户未经椰子理财的明确书面同意不许下载（除了页面缓存）或修改平台或其任何部分。用户不得对椰子理财平台或其内容进行转售或商业利用；不得收集和利用产品目录、说明和价格；不得对椰子理财或其内容进行任何衍生利用；不得为其他商业利益而下载或拷贝账户信息或使用任何数据采集、Robots或类似的数据收集和摘录工具。未经椰子理财的书面许可，严禁对椰子理财的内容进行系统获取以直接或间接创建或编辑文集、汇编、数据库或人名地址录（无论是否通过Robots、Spiders、自动仪器或手工操作）。不得将椰子理财包含的资料等任何内容发布到任何其他网站或者服务器。另外，严禁为任何未经本使用条件明确允许的目的而使用椰子理财平台上的内容和材料。任何未经授权对椰子理财内容的使用均属于违法行为，本网站有权追究用户的法律责任。</p>
                        <h3>第十章 法律适用及争议解决</h3>
                        <p>第28条  本协议的签订、效力、履行、终止、解释和争端解决受中国法律法规的管辖。</p>
                        <p>第29条  本协议于中国深圳市签订。因本协议发生任何争议或与本协议有关的争议，首先应由双方友好协商解决，协商不成的，任何一方有权将纠纷提交至本网站主要经营地有管辖权的人民法院诉讼解决。</p>
                        <h3>第十一章 其他条款</h3>
                        <p>第30条  本协议自用户同意勾选并成功注册为椰子理财用户之日起生效，除非椰子理财终止本协议或者用户丧失椰子理财用户资格，否则本协议始终有效。本协议终止并不免除用户根据本协议或其他有关协议、规则所应承担的义务和责任，且协议终止后椰子理财有权继续保存用户的用户信息及用户使用服务期间的所有交易信息。</p>
                        <p>第31条  本网站对于用户的违约行为放弃行使本协议规定的权利的，不得视为其对用户的其他违约行为放弃主张本协议项下的权利。如一方发生违约行为，守约方可以书面通知方式要求违约方在指定的时限内停止违约行为，并就违约行为造成的损失要求违约方进行赔偿。</p>
                        <p>第32条  本协议部分条款被有管辖权的法院认定为无效时，不影响本协议其他条款的效力。本服务协议的签订、效力、履行、终止、解释和争端解决受中国法律法规的管辖。因本服务协议发生任何争议或与本服务协议有关的争议，首先应由双方友好协商解决，协商不成的，任何一方有权将纠纷提交至本公司所在地有管辖权的人民法院诉讼解决。</p>
                        <p>第33条  本协议不涉及用户与椰子理财其他用户之间因网上交易而产生的法律关系及法律纠纷，但用户在此同意将全面接受和履行与椰子理财其他用户通过椰子理财签订的任何电子法律文本，并承诺按该法律文本享有和/或放弃相应的权利、承担和/或豁免相应的义务。</p>
                        <p>第34条  本协议包括以下所有条款，同时也包括椰子理财已经发布的或者将来可能发布的各类规则。所有规则均为本协议不可分割的一部分，与本协议具有同等法律效力。</p>
                        <p>用户在此确认知悉并同意本网站有权根据需要不时修改、增加或删减本协议。本网站将采用在椰子理财至少提前七日公示的方式或法定的其他方式通知用户该等修改、增加或删减，用户有义务注意该等公示。一经椰子理财公示或以其他法定方式通知，视为已经通知到用户。若用户在本协议及各类规则变更后继续使用椰子理财服务的，视为用户已仔细认真阅读、充分理解并同意接受修改后的本协议及各类规则，且用户承诺遵守修改后的本协议及各类规则内容，并承担相应的义务和责任。若用户不同意修改后的本协议及各类规则内容，应立即停止使用椰子理财服务，本网站保留中止、终止或限制用户继续使用椰子理财服务的权利，但该等终止、中止或限制行为并不豁免用户在椰子理财已经进行的交易下所应承担的责任和义务。本网站不承担任何因此导致的法律责任。
                            椰子理财无需用户同意即可向椰子理财关联实体转让与椰子理财平台有关的全部或部分权利和义务。未经椰子理财事先书面同意，用户不得转让其在本协议项下的任何权利和义务。
                            <p>第35条  本网站对本协议享有最终的解释权。</p>
                        </article>
                        <footer>
                            投诉和咨询<br/>
                            若您在使用本网站的过程中有任何的疑问、投诉和咨询，可随时致电客服热线或发送电子邮件到椰子理财平台指定的<br/>
                            电子邮箱：<a href="mailto:service@yeamoney.cn">service@yeamoney.cn</a>
                        </footer>
                    </section>
                </div>
            </body>
        </html>