<!DOCTYPE html>
<html>
<head>
    <!--inline[../../common/page/head.ejs]-->
    <title>常见问题</title>
    <link rel="stylesheet" type="text/css" href="../static/faq.css?__inline">
</head>
<body>

    <section class="faqSection">
        <div class="header downLine">
            <span class="title1">关于椰子理财</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">椰子理财是什么？</span></div>
            <p class="contectfont">
                椰子理财是深圳前海椰子金融信息服务有限公司旗下一款面向大众投资者的P2B理财APP。在椰子理财，您可以根据您的理财需求，自由选择投资项目（活期、项目两大类理财产品）。椰子理财秉承着“优质项目至上”的运营理念，为广大投资者提供更安全、更高收益的理财项目。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">椰子金融是什么公司？</span></div>
            <p class="contectfont">
                深圳前海椰子金融信息服务有限公司（以下简称“椰子金融”），拥有专业团队——专业的客服、技术、风控、产品、运营团队与法律顾问团。椰子金融高管均来自民生电子、平安银行等多家国际知名金融机构。专业客服团队灵活贴心，为您提供暖心服务。风控团队拥有多年项目风控经验，能够在为您筛选出最低风险的项目。技术与运营团队在互联网领域从业多年，拥有丰富的经验。</br>
                “为何一家P2B平台要聚集如此多大咖”</br>
                “只为了打造真正优质的平台，我们不是随便玩玩！”

            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">椰子理财如何保障安全？</span></div>
            <p class="contectfont">
                法律保障：椰子理财携手盈科律师事务所，为投资者全程制定具有法律效应的合同，为投资者保驾护航。</br>
                技术保障：采用MD5与HTTPS加密模式，充分保障投资者账户安全。</br>
                资金保障：椰子理财拥有千万级风险保障金为广大投资者提供保障。</br>
                项目保障：我们保证平台上所有的项目均来源于大型央、国企还有世界500强企业的应收账款。
            </p>
        </div>
    </section>
    <section class="faqSection">
        <div class="header downLine">
            <span class="title1">体验金相关</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">体验金是什么？</span></div>
            <p class="contectfont">
                体验金是椰子理财提供给用户的投资本金，投资收益归用户所有。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">体验金怎么用？</span></div>
            <p class="contectfont">
                体验金可以用于新手标项目，用户在新手标处点击【立即投资】便成功使用体验金，产生的收益会在5天后打到您的账户中。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">体验金的使用期限？</span></div>
            <p class="contectfont">
                自您领取（注册）当天起算，7天后过期。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">体验金能否提现？</span></div>
            <p class="contectfont">
                体验金是平台回馈用户所提供的加息手段，体验金本身无法提现。但是体验金所产生的收益可以进行提现
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">如何获取更多的体验金？</span></div>
            <p class="contectfont">
                （1） 您可以实时关注椰子理财的活动领取体验金，实时关注椰子理财，活动多多，送券多多</br>
                （2） 进行投资。您每次的投资，我们都会根据您的投资金额生成相应的体验金发到您的体验金账户中，供您下次投资时使用。

            </p>
        </div>
    </section>
    <section class="faqSection">
        <div class="header downLine">
            <span class="title1">零钱计划相关</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">零钱计划是什么？</span></div>
            <p class="contectfont">
                零钱计划是椰子理财打造的灵活性理财产品。100元起投，随存随取。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">零钱计划的转入与转出是否收费？</span></div>
            <p class="contectfont">
                每月（自然月）第1笔（活期与项目共同计算）提现将不收取任何费用，自第2笔开始银联将收取每笔3元的费用。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">零钱计划的资金安全有保障吗？</span></div>
            <p class="contectfont">
                零钱计划都是对接真实项目的，项目都来源于央企、国企的应收账款项目。我们将会根据您投资的总金额分成不同的金额分散投资到各个项目当中。同时，我们拥有专业的风控、法律、产品团队，360度全方面保障您的个人利益。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">投资收益怎么计算？</span></div>
            <p class="contectfont">
                收益采取即日产生利息模式，即您在零钱计划投入资金后当天开始起息。
                您获得的单日收益=零钱计划投资金额 *年化收益率/360
                    为了感谢您支持椰子理财，在零钱计划投资时，您每多存1个月，系统自动帮您在当前年化收益率基础上额外加息0.5%，最高12%封顶。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">如何获得更高的投资年化收益率？</span></div>
            <p class="contectfont">
                存的越久，收益率越高哦。零钱计划的起始年化收益率为6%，您每多存1个月，系统自动帮您在当前年化收益率基础上额外加息0.5%，最高12%封顶。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">怎么查看我的收益？</span></div>
            <p class="contectfont">
                您可以在我的财富——投资理财中查询零钱计划收益，也可以在账户余额——资金明细中查询收益到账情况。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">我的资金去向何处？</span></div>
            <p class="contectfont">
                零钱计划所有的资产由椰子理财在国宝计划下提取部分项目作为投资标的，由系统根据您的投资金额分散匹配到优质项目中。为了进一步保障您的利益，降低您的投资风险，您在零钱计划投资的金额越高， 系统为您自动匹配的优质项目越多。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">零钱计划投资有限额吗？</span></div>
            <p class="contectfont">
                由于零钱计划可投资金额受国宝计划可投规模限制，零钱计划会在经过大量计算统计后进行发布，每期都有固定限额，先到先得。您在零钱计划的投资总金额不得超过20万元。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">非零钱计划投资能否随时提现？</span></div>
            <p class="contectfont">
                非常抱歉，由于非零钱计划项目属于固定投资项目，不可以随存随取。对于资金流动性要求较高的用户可以选择投资零钱计划项目。
            </p>
        </div>
    </section>
    <section class="faqSection">
        <div class="header downLine">
            <span class="title1">国宝计划相关</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">国宝计划是什么？</span></div>
            <p class="contectfont">
                椰子理财平台上的项目均来源于央企、国企的应收账款项目，具有低风险、高收益的特性，大部分的项目期限短，能够满足投资者短期投资需求。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">国宝计划中项目投资的购买是否需要费用？</span></div>
            <p class="contectfont">
                项目的购买无需任何手续费。
                项目还款完毕之后，所有的收益与本金将会直接发到您的账户余额中。届时你可以申请提现，每月第1笔（活期与项目共同计算）提现将不收取任何费用，自第2笔开始银联将收取每笔3元的费用。

            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">投资项目的资金安全有保障吗？</span></div>
            <p class="contectfont">
                项目保障：椰子平台上所有的投资项目均来源于央企、国企的应收账款项目。</br>
                法律保障：您所有的投资过程都会有相应合同，保障您的权益。</br>
                资金保障：椰子理财准备了千万级风险保障金，以保护您权益为先。</br>
                资金托管：您所有的投资过程都由第三方支付负责，平台不经手您的资金。</br>
                技术安全：我们采用最先进的MD5与HTTPS信息加密技术，保障您的账户安全。

            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">投资收益怎么计算？</span></div>
            <p class="contectfont">
                投资收益=投资总金额*年化收益率*项目天数/365
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">如何获得更高的投资收益率？</span></div>
            <p class="contectfont">
                您可以时刻关注椰子理财发布的项目，及时抢购更高收益率的项目。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">怎么查看我的收益？</span></div>
            <p class="contectfont">
                您可以在“我的财富”中查看余额，亦可以在“我的财富”中滑动到投资列表板块，点击您所投资的项目，查询您的收益以及回款情况。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">我的资金去向何处？</span></div>
            <p class="contectfont">
                每个国宝项目都是有限额的。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">项目有限额吗？</span></div>
            <p class="contectfont">
                由于零钱计划可投资金额受国宝计划可投规模限制，零钱计划会在经过大量计算统计后进行发布，每期都有固定限额，先到先得。您在零钱计划的投资总金额不得超过20万元。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">我的债权能够转让吗？</span></div>
            <p class="contectfont">
                目前椰子理财暂时不支持债权转让，请您在投资前进行慎重考虑。
            </p>
        </div>
    </section>
     <section class="faqSection">
        <div class="header downLine">
            <span class="title1">银行卡相关</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">可以绑定多张银行卡吗？</span></div>
            <p class="contectfont">
               我们支持多张银行卡绑定。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">如何增加银行卡绑定？</span></div>
            <p class="contectfont">
                您可以在支付选择银行卡支付时点击“添加新银行卡”进行新银行卡绑定，也可以在“我的财富”中点击“我的银行卡”选择添加新银行卡进行绑定。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">银行卡丢失如何处理？</span></div>
            <p class="contectfont">
                请您第一时间与银行联系，申请挂失。您也可以拨打客服热线进行咨询
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">绑卡失败了怎么办？</span></div>
            <p class="contectfont">
                首先请您确认您的银行卡、用户姓名、预留手机号是否正确以及所绑定银行卡是否在支持绑定的范围内（目前只支持储蓄卡与部分银行）。若您在此情况下还有任何无法解决的问题，欢迎您拨打客服热线400-0876-678
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">银行卡预留手机号不符怎么办？</span></div>
            <p class="contectfont">
                由于椰子理财属于平台方，且出于您安全的考虑，椰子理财无权修改您在银行所提交的个人信息。若您绑卡时填写的手机号与银行预留手机号不同，请您与开户银行联系并申请更改。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">银行卡为什么有限额？</span></div>
            <p class="contectfont">
                各个银行出于账户拥有者安全考虑，有最基本的单笔、单日、单月限额，椰子理财将根据各个合作银行的限额进行充值限制（具体可在“我的银行卡”右上角角标点击查询）
            </p>
        </div>
    </section>
     <section class="faqSection">
        <div class="header downLine">
            <span class="title1">资金转入问题</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">信用卡能不能进行投资？</span></div>
            <p class="contectfont">
                椰子理财只支持储蓄卡充值与投资，不支持信用卡。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">单次投资最高能有多少？</span></div>
            <p class="contectfont">
                若您直接使用银行卡充值投资，则受银行卡单笔投资上限限制（单笔最高50,000元）。每个银行单笔限额都有对应的限额金额，具体视银行限额而定（具体可在“我的银行卡”右上角角标点击查询）若您需要单笔投资较大金额，烦请您先选择同一张或多张银行卡对账户进行充值，支付时选择账户余额支付。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">充值有手续费吗？</span></div>
            <p class="contectfont">
                椰子理财对于您的资金转入不收取任何手续费。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">充值后如何查看？</span></div>
            <p class="contectfont">
                您可以点击“我的财富”查询账户余额，若想查看明细，点击“账户余额”，右上角便可查询
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">第三方支付公司是什么？</span></div>
            <p class="contectfont">
                我们是国内少数能够直接接通中国银联的支付系统的理财产品，中国银联能够在最大程度上保障您的交易安全。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">为什么显示扣款成功资金却没有转入?</span></div>
            <p class="contectfont">
                可能由于以下两种情况导致：</br>
                1.  可能由于充值人数过多，系统接收会有所延迟。</br>
                2.  银联系统升级，暂时关闭充值渠道。</br>
                请您耐心等候，椰子理财保证您所有的充值、提现都会到位，若出现充值失败，客服将会第一时间进行追踪，确认问题根源。</br>
                若是系统延迟，客服将会第一时间确认充值申请，届时金额会直接充值到椰子理财账户。</br>
                若银联系统当天系统出现故障，当天无法进行正常投资，客服人员会申请退款，您当次充值的金额将会退款至您充值的银行卡中。

            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">资金转入失败怎么办？</span></div>
            <p class="contectfont">
                1.  可能由于您的账户银行卡余额不足，请进行到各银行官网进行余额查询。</br>
                2.  可能由于您的网络问题转入失败，但不用担心，我们已经为您之前所生成的订单进行自动保留， 将会为您保留15分钟，只需在15分钟内完成支付即可。</br>
                若有其他任何疑问，请致电客服热线400-0876-678</br>

            </p>
        </div>
    </section>
     <section class="faqSection">
        <div class="header downLine">
            <span class="title1">提现问题</span>
            <img src="../static/image/arrow.png"  alt="" class="arrow upArrow">
        </div>
        <div class="content">
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">提现有金额要求吗？</span></div>
            <p class="contectfont">
                资金提现没有金额限制。但对于异常的提现情况，椰子理财有权暂时冻结您的提现功能。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">提现有手续费吗？</span></div>
            <p class="contectfont">
                体每月第一笔提现不收取任何手续费，第二笔开始按照每笔3元进行收费。
            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">提现失败后会扣除相应的手续费吗？</span></div>
            <p class="contectfont">
                椰子理财将返回您的手续费或免费提现次数（每月一次），除去以下情况</br>
                （1）银行系统升级，无法正常接受申请</br>
                （2）椰子理财系统发现您存在非正常投资与充值、提现行为，椰子理财将会立即锁定您的账号，自动进行清退，清退所产生的手续费不予返还。</br>
                （3）银行卡开户支行与银行卡自身信息不符</br>

            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">实名认证失败？</span></div>
            <p class="contectfont">
                1.请检查姓名、身份证等个人信息输入是否正确</br>
                2．仅支持中国大陆地区居民身份认证</br>
                3. 注册用户必须年满18岁</br>

            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">收不到验证码怎么办？</span></div>
            <p class="contectfont">
                可能存在以下情况：</br>
                （1） 手机网络无信号</br>
                （2） 手机开通短信拦截软件</br>
                （3） 可在60秒后再次点击申请发送验证码</br>
            </p>
             <div class="titleLine"><i class="redCircle"> </i><span class="title2">如何查询提现是否到账？？</span></div>
            <p class="contectfont">
                您可以到您所提现的银行官网进行余额查询，或密切留意银行短信通知。
                提现要多久才能到账？
                您申请的提现将会在1个工作日内到账，有的银行可能会在2-3个工作日后到账。
                其中节假日以及银行系统升级或其他安排会有所延迟，具体通告椰子理财将会实时在微信公众号与APP内部公布。

            </p>
            <div class="titleLine"><i class="redCircle"> </i><span class="title2">资金没有到账怎么办?</span></div>
            <p class="contectfont">
            （1）在平常工作日，您的金额会在1个工作日内到账（部分银行需2-3个工作日），由于银行工作安排，节假日提现可能有所延后。</br>
                (2） 若您的提现申请超过上述期限，请查看您绑定银行卡时所填写的支行信息是否正确，若填写错误，提现金额将会在5个工作日后返回到您的椰子理财账户当中，您也可以直接联系椰子理财客服申请直接退款，但在此之前您申请所付的提现手续费不予退还</br>
                (3） 若您还有其他任何疑问，请拨打客服热线400-0876-678</br>
                你也可以搜索无趣的椰子公众号，或在工作日9:00 – 18:00的时候拨打唯一客服热线，400-0876-678。以便获得更及时的回应。


            </p>
        </div>
    </section>
    <!--inline[../../common/page/foot.ejs]-->
    <script src="../static/faq.js?__inline"></script>
</body>
</html>