body{
    background-color: #eeeeee;
    }

.faqSection{
    width: 100%;
    height: auto;
    margin-left: 0;
    background-color: #fff;
    margin-top: 1em;

}
.header{
    width:96%;
    margin-left: 2%;
    border-bottom:1px solid #eeeeee;
    height:3.5em;
}
.content{
    margin:0.5em;
    width:100%;
    height:auto;
    overflow: hidden;
    display:none;
}
.titleLine{
    width:100%;
    height: auto;
}
.titleLine div{
    display: inline;
    height: 2em;
}
.redCircle{
    display: inline-block;
    width:0.5em;
    height:0.5em;
    border-radius: 0.5em;
    background-color:#ef5853;
    margin-bottom: 0.2em;
}
.title1{
    display: inline-block;
    z-index: 2;
    width:40%;
    margin-left: 32%;
    margin-top: 0.8em;
    margin-right: auto;
    font-size: 1.2em;
    color:#222222;
    text-align:center;

}
.title2{
    color:#ef5853;
    font-size: 1em;
    margin-left: 0.5em;
    line-height: 2em;

}
.contectfont{
    color:gray;
    width:96%;
    height:auto;
    line-height: 1.2em;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.arrow{
    z-index: 3;
    width:2em;
    position: absolute;
    right: 1em;
    margin-top: 0.9em;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.upArrow{
        -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);

}


























